<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Francis || Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Information About Me -->
    <meta name="title" content="Njuguna Francis Portfolio" />
    <meta
      name="description"
      content="Francis Njuguna kick-started his journey as a software engineer in 2016.
      Over the years, he has grown full-blown skills in
      JavaScript stacks such as React,
      ReactNative, Nodejs, and more. Connect with him today!"
    />
    <meta name="keywords" content="Portfolio, Resume, Experiences" />

    <!-- FAV AND ICONS   -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Google Font-->
    <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/plugins/css/bootstrap.min.css" />
    <!-- Animate CSS-->
    <link rel="stylesheet" href="assets/plugins/css/animate.css" />
    <!-- Owl Carousel CSS-->
    <link rel="stylesheet" href="assets/plugins/css/owl.css" />
    <!-- Fancybox-->
    <link rel="stylesheet" href="assets/plugins/css/jquery.fancybox.min.css" />
    <!-- Custom CSS-->
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <link rel="stylesheet" href="main.scss">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="main.css.map">
  </head>
  <body class="dark-vertion black-bg">
    <div id="App">
    <!-- Start Loader -->
    <div class="section-loader">
      <div class="loader">
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- End Loader -->
    <header
      class="
        black-bg
        mh-header mh-fixed-nav
        nav-scroll
        mh-xs-mobile-nav
        wow
        fadeInUp
      "
      id="mh-header"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg mh-nav nav-btn">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#mh-home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#mh-about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#mh-service">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#mh-skills">Skills</a>
                </li>
                <li v-if="loaded" class="nav-item">
                  <a class="nav-link" href="#mh-portfolio">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mh-pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mh-blog">Blog</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mh-contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <!--
    ===================
        HOME 
    ===================
    -->
    <section class="mh-home" id="mh-home">
      <div class="home-ovimg">
        <div class="container">
          <div
            class="
              row
              xs-column-reverse
              section-separator
              vertical-middle-content
              home-padding
            "
          >
            <div class="col-sm-6">
              <div class="mh-header-info">
                <div
                  class="mh-promo wow fadeInUp"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.1s"
                >
                  <span>Hello I'm</span>
                </div>

                <h2
                  class="wow fadeInUp"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.2s"
                >
                  Francis Njuguna
                </h2>
                <h4
                  class="wow fadeInUp"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.3s"
                >
                  Full Stack Software Developer
                </h4>

                <ul>
                  <li
                    class="wow fadeInUp"
                    data-wow-duration="0.8s"
                    data-wow-delay="0.4s"
                  >
                    <i class="fa fa-envelope"></i
                    ><a href="mailto:">francisnjugunawanjiku@gmail.com</a>
                  </li>
                  <li
                    class="wow fadeInUp"
                    data-wow-duration="0.8s"
                    data-wow-delay="0.5s"
                  >
                    <i class="fa fa-phone"></i
                    ><a href="callto:">+254 114 290 356</a>
                  </li>
                  <li
                    class="wow fadeInUp"
                    data-wow-duration="0.8s"
                    data-wow-delay="0.6s"
                  >
                    <i class="fa fa-map-marker"></i>
                    <address>Milimani, Nakuru, KE</address>
                  </li>
                </ul>

                <ul
                  class="social-icon wow fadeInUp w-100"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.7s"
                >
                  <li class="mr-4">
                    <a href="https://facebook.com/profile.php?id=100083172518268" target="_blank">
                      <i class="fab fa-facebook"></i></a>
                  </li>
                  <li class="mr-4">
                    <a href="https://twitter.com/liperranqey" target="_blank">
                      <i class="fab fa-twitter"></i></a>
                  </li>
                  <li class="mr-4">
                    <a
                      href="https://www.linkedin.com/in/dev-njuguna-120964263/" target="_blank">
                      <i class="fab fa-linkedin"></i></a>
                  </li>
                  <li class="mr-4">
                    <a href="https://github.com/francisnjuguna" target="_blank">
                      <i class="fab fa-github"></i></a>
                  </li>
                  <li class="mr-4">
                    <a href="https://medium.com/@liperanqey" target="_blank">
                      <i class="fab fa-medium"></i></a>
                  </li>
                </ul>
                <a
                href="#mh-pricing"
                class="btn btn-fill wow fadeInUp mt-3"
                data-wow-duration="0.8s"
                data-wow-delay="0.4s"
                >Tutor Me
              </a>
              <a
                  href="mailto:francisnjugunawanjiku@gmail.com?body=Hi Francis, I was browsing your website and wanted to connect.&subject=Partnership Proposal"
                  target="_blank"
                  class="btn btn-border wow fadeInUp mt-3 ml-3"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.4s"
                  >Hire Me</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div
                class="hero-img wow fadeInUp"
                data-wow-duration="0.8s"
                data-wow-delay="0.6s"
              >
                <div class="">
                  <img src="assets/images/FRANCIS NJUGUNA.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--
    ==================
        ABOUT
    =================
    -->
    <section class="mh-about" id="mh-about">
      <div class="container">
        <div class="row section-separator">
          <div class="col-sm-12 col-md-6">
            <div
              class="mh-about-img shadow-2 wow fadeInUp"
              data-wow-duration="0.8s"
              data-wow-delay="0.4s"
            >
              <img src="assets/images/ab-img.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="mh-about-inner">
              <h2
                class="wow fadeInUp"
                data-wow-duration="0.8s"
                data-wow-delay="0.1s"
              >
                About Me
              </h2>
              <p
                class="wow fadeInUp"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                Francis Njuguna is a Highly skilled and inovative full stack Software developer with more than five years of hands-on experience in Web development 
                <br /><br />
                Focused and efficient learner with practical expertise in mobile apps and web development with automated testing, looking to join a team with whom communication and team work are paramount.
                <br /><br />
                Having extensive experience working with different programming languages and frameworks, i would jump at any opportunity to continue growing my skillset in the programming field at Exodus Integrity Services contributing to the positive outcome of making people "rich, smarter and happier".
              </p>
              <div
                class="mh-about-tag wow fadeInUp"
                data-wow-duration="0.8s"
                data-wow-delay="0.3s"
              >
                <ul>
                  <li><span>HTML</span></li>
                  <li><span>CSS</span></li>
                  <li><span>JavaScript</span></li>
                  <li><span>Blockchain</span></li>
                  <li><span>ReactJs</span></li>
                  <li><span>ReactNative</span></li>
                  <li><span>Flutter</span></li>
                  <li><span>NextJs</span></li>
                  <li><span>NodeJs</span></li>
                  <li><span>ReactRedux</span></li>
                  <li><span>Sass</span></li>
                  <li><span>Bootstrap</span></li>
                  <li><span>jQuery</span></li>
                  <li><span>Tailwind css</span></li>
                  <li><span>Oauth2</span></li>
                  <li><span>Api's</span></li>
                  <li><span>Python</span></li>
                  <li><span>Django</span></li>
                  <li><span>Mongodb</span></li>
                  <li><span>Graphql</span></li>
                  <li><span>Mysql</span></li>
                  <li><span>Mongoose</span></li>
                  <li><span>RestApi</span></li>
                  <li><span>Wordpress</span></li>
                  <li><span>Figma</span></li>
                  <li><span>Photoshop</span></li>
                  <li><span>Github</span></li>
                  <li><span>Typescript</span></li>
                  <li><span>Git</span></li>
                  <li><span>Vscode</span></li>
                  <li><span>Heroku</span></li>
                  <li><span>Pycharm</span></li>
                </ul>
              </div>
              <a
                href="./assets/Resume-Darlington-Gospel.pdf"
                class="btn btn-fill wow fadeInUp"
                data-wow-duration="0.8s"
                data-wow-delay="0.4s"
                >Downlaod CV <i class="fa fa-download"></i
              ></a>
            </div>
          </div>
          <!-- Skills Section  -->

        </div>
      </div>
    </section>

    <!--
    ===================
       SERVICE
    ===================
    -->
    <section class="mh-service" id="mh-service">
        <div class="container">
            <div class="row d-flex justify-content-center section-separator">
                <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                    <h2>What I do</h2>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        <i class="fa fa-code iron-color"></i>
                        <h3>FRONT-END DEVELOPMENT</h3>
                        <p>
                          Do you have a designed UI/UX prototype?. At a reasonable cost, I will assist you to translate your ideas from Figma or Adobe XD into a real-world solution.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                        <i class="fa fa-feather purple-color"></i>
                        <h3>BACK-END DEVELOPMENT</h3>
                        <p>
                           Lets get going with the server side ASAP!!. I can create a user friendly backened for your projects whether website/app or mobile applications.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                      <i class="fa fa-object-ungroup sky-color"></i>
                        <h3>FIGMA | UI/UX DESIGNER</h3>
                        <p>
                          I design beautiful and attractive websites and web app that are in their own level of perfection. I design great user interface and develop real life interactions
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                  <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                    <i class="fa fa-bullseye purple-color"></i>
                      <h3>WORDPRESS DEVELOPMENT</h3>
                      <p>
                       Do you have a wordpress idea, hire so that we can bring your idea into life at an affordable price.
                      </p>
                  </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
            	<a
                href="mailto:francisnjugunawanjiku@gmail.com?body=Hi Francis, I was browsing your website and wanted to connect.&subject=Partnership Proposal"
                target="_blank"
                class="btn btn-fill wow fadeInUp mt-3"
                data-wow-duration="0.8s"
                data-wow-delay="0.4s"
                >Consult Me</a>
             
            </div>
        </div>
     </section>   

    <!--
    ===================
       SKILLS
    ===================
    -->
    <section class="mh-skills" id="mh-skills">
      <div class="container">
        <div class="row section-separator">
          <div class="section-title text-center col-sm-12">
            <!--<h2>Skills</h2>-->
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="mh-skills-inner">
              <div
                class="mh-professional-skill wow fadeInUp"
                data-wow-duration="0.8s"
                data-wow-delay="0.3s"
              >
                <h3>Technical Skills</h3>
                <div class="each-skills">
                  <div class="candidatos">
                    <div class="parcial">
                      <div class="info">
                        <div class="nome">FRONT-END DEVELOPMENT</div>
                       
                      </div>
                      <div class="progressBar">
                        <div class="percentagem" style="width: 100%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="candidatos">
                    <div class="parcial">
                      <div class="info">
                        <div class="nome">FULLSTACK DEVELOPMENT</div>
                       
                      </div>
                      <div class="progressBar">
                        <div class="percentagem" style="width: 100%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="candidatos">
                    <div class="parcial">
                      <div class="info">
                        <div class="nome">BACK-END DEVELOPMENT</div>
                       
                      </div>
                      <div class="progressBar">
                        <div class="percentagem" style="width: 100%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="candidatos">
                    <div class="parcial">
                      <div class="info">
                        <div class="nome">FIGMA | UI/UX DESIGNING</div>
                        
                      </div>
                      <div class="progressBar">
                        <div class="percentagem" style="width: 100%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="candidatos">
                    <div class="parcial">
                      <div class="info">
                        <div class="nome">WORDPRESS DEVELOPMENT</div>
                       
                      </div>
                      <div class="progressBar">
                        <div class="percentagem" style="width: 100%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="candidatos">
                    <div class="parcial">
                      <div class="info">
                        <div class="nome">BLOCKCHAIN DEVELOPMENT</div>
                       
                      </div>
                      <div class="progressBar">
                        <div class="percentagem" style="width: 100%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div
              class="mh-professional-skills wow fadeInUp"
              data-wow-duration="0.8s"
              data-wow-delay="0.5s"
            >
              <h3>Professional Skills</h3>
              <ul class="mh-professional-progress">
                <li>
                  <div
                    class="mh-progress mh-progress-circle"
                    data-progress="85"
                  ></div>
                  <div class="pr-skill-name">Communication</div>
                </li>
                <li>
                  <div
                    class="mh-progress mh-progress-circle"
                    data-progress="90"
                  ></div>
                  <div class="pr-skill-name">Team Work</div>
                </li>
                <li>
                  <div
                    class="mh-progress mh-progress-circle"
                    data-progress="94"
                  ></div>
                  <div class="pr-skill-name">Project Management</div>
                </li>
                <li>
                  <div
                    class="mh-progress mh-progress-circle"
                    data-progress="97"
                  ></div>
                  <div class="pr-skill-name">Creativity</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    
   
    <section v-if="loaded" class="mh-portfolio" id="mh-portfolio">
      <div class="container">
          <div class="sectionTitle">
            <div
            class="section-title col-sm-12 wow fadeInUp"
            data-wow-duration="0.8s"
            data-wow-delay="0.1s"
          >
            <h3>My Projects</h3>
            <h6><strong><b>NB:</b></strong> Click on the <b>LIVE</b> text or <b>IMAGE</b> to view the project online, and <b>GITHUB</b> to view the repository. It is better to read the summary in every project to understand the project more.</h6>
             <br>
          </div>
           <!-- FRONTEND BOXES---------------------------------------------------- -->
                  <div class="boxes ">

                    <div class="box">

                      <div class="webContent">

                       <div class="webContentTop">
                           <div >
                             
                               <a href="https://postmedia.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                           </div>
                           <a href="https://postmedia.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
                           <a href="https://github.com/FrancisNjuguna/postmedia" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
                       </div>
      
                      <div class="contentImg">
                          <a href="https://postmedia.vercel.app/" target="_blank"><img src="./projects/postmedia.png" class="contentImage"></a>
                      </div>
      
                      <div class="wrapperText">
                          <h2>
                              POST<span class="frank">MEDIA</span>
                          </h2>
                          <div class="software">
                            <h4>use:</h4>
                            <span>Email: james@gmail.com</span>        
                            <span>Password: james</span>        
                        </div>
                          <p><strong><b>POSTMEDIA</b></strong> is a social posting web app created using the MERN stack. It allows users to create posts, comment on posts, and follow other users. It also includes features such as user authentication, Dark and light Mode, profile pages, and a search bar. The app provides an easy-to-use interface for users to interact with each other and share their thoughts. </p>
                          <div class="software">
                            <span>TECHNOLOGIES</span>        
                        </div>
                          <div
                class="mh-about-tag wow fadeInUp"
                data-wow-duration="0.8s"
                data-wow-delay="0.3s"
              >
                <ul>
                  <li><span>REACT</span></li>
                  <li><span>EXPRESS</span></li>
                  <li><span>NODE</span></li>
                  <li><span>MONGODB</span></li>
                  <li><span>TAILWINDCSS</span></li>
                  <li><span>REACT ROUTER</span></li>
                  <li><span>FORMIK</span></li>
                  <li><span>YUP</span></li>
                  <li><span>REDUX TOOLKIT</span></li>
                  <li><span>MONGOOSE</span></li>
                  <li><span>JWT</span></li>
                  <li><span>MULTER</span></li>
                </ul>
              </div>
                      </div>
      
      
                      </div>
      
      
                  </div>
                  <div class="box">

                    <div class="webContent">
    
                    <div class="webContentTop">
                        <div>
                          
                            <a href="https://you2ube.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                        </div>
                        <a href="https://you2ube.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
                        <a href="https://github.com/FrancisNjuguna/you2ube" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
                    </div>
    
    
                    <div class="contentImg">
                        <a href="https://you2ube.vercel.app/" target="_blank"><img src="./projects/youtube.png" class="contentImage"></a>
                    </div>
    
                    <div class="wrapperText">
                     <h2>
                       YU<span class="alvin">2</span><span class="frank">UBE</span>
                     </h2>
                        <p>YOU2UBE is a clone of the popular video streaming platform YouTube. It allows users to view, and comment on videos. It features a search bar for finding videos, a video player for viewing them, and a comment section for discussing them. Additionally, users can create playlists of their favorite videos and share them with friends. </p>
                        <div class="software">
                          <span>TECHNOLOGIES</span>        
                      </div>
                        <div
              class="mh-about-tag wow fadeInUp"
              data-wow-duration="0.8s"
              data-wow-delay="0.3s"
            >
              <ul>
                <li><span>REACT</span></li>
                <li><span>TAILWINDCSS</span></li>
                <li><span>REDUX TOOLKIT</span></li>
                <li><span>REACT ROUTER</span></li>
                <li><span>RAPIDAPI</span></li>
                <li><span>TYPESCRIPT</span></li>
                <li><span>MATERIAL UI</span></li>
              </ul>
            </div>
                    </div>
    
                    </div>
    
                </div>
                <div class="box">

                  <div class="webContent">
      
                  <div class="webContentTop">
                      <div>
                        
                          <a href="https://timeless-iw1j.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                      </div>
                      <a href="https://timeless-iw1j.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
                      <a href="https://github.com/FrancisNjuguna/timeless" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
                  </div>
      
      
                  <div class="contentImg">
                      <a href="https://timeless-iw1j.vercel.app/" target="_blank"><img src="./projects/timeless.png" class="contentImage"></a>
                  </div>
      
                  <div class="wrapperText">
                      <h2>
                       TIME<span class="frank">LESS</span>
                      </h2>
                      <p>TIMELESS is a web app that provides a marketplace for Non-Fungible Tokens (NFTs). It allows users to buy, sell, and trade NFTs in a secure and user-friendly environment. The web app is created in GOERLI Test net You should have metamask installed, and use GOERLI Test net. </p>
                      <div class="software">
                        <span>TECHNOLOGIES</span>        
                    </div>
                      <div
            class="mh-about-tag wow fadeInUp"
            data-wow-duration="0.8s"
            data-wow-delay="0.3s"
          >
            <ul>
              <li><span>REACT</span></li>
              <li><span>TYPESCRIPT</span></li>
              <li><span>SOLIDITY</span></li>
              <li><span>REACT ROUTER</span></li>
              
              <li><span>TAILWINDCSS</span></li>
              <li><span>TRUFFLE</span></li>
              <li><span>GANACHE</span></li>
            </ul>
          </div>
                  </div>
      
      
                  </div>
      
      
              </div>
                  
               
              <div class="box">

                <div class="webContent">

                 <div class="webContentTop">
                     <div >
                       
                         <a href="https://imgai.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                        </div>
                        <a href="https://imgai.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
                        
                     <a href="https://github.com/FrancisNjuguna/imgai" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
                 </div>

               


                <div class="contentImg">
                    <a href="https://imgai.vercel.app/" target="_blank"><img src="./projects/imgai.png" class="contentImage"></a>
                </div>

                <div class="wrapperText">
                 <h2>                  
                    IMG<span class="frank">AI</span>                   
                  </h2>
                    <p>IMGAI is an AI Image Generator, which uses machine learning to generate images from text descriptions. The project consists of a web application that allows users to input text and generate an image, as well as a backend server that processes the text and generates the image. The project also includes an API for developers to use in their own applications.</p>
                    <div class="software">
                      <span>TECHNOLOGIES</span>        
                  </div>
                    <div
          class="mh-about-tag wow fadeInUp"
          data-wow-duration="0.8s"
          data-wow-delay="0.3s"
        >
          <ul>
            <li><span>REACT</span></li>
            <li><span>EXPRESS</span></li>
            <li><span>NODE</span></li>
            <li><span>MONGODB</span></li>
            <li><span>MONGOOSE</span></li>
            <li><span>OPENAPI</span></li>
            <li><span>TAILWINDCSS</span></li>
            <li><span>CLOUDINARY</span></li>
          </ul>
        </div>
                </div>

                </div>

            </div>

            <div class="box">

              <div class="webContent">

               <div class="webContentTop">
                   <div>
                       <a href="https://nahis.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                   </div>
                   <a href="https://nahis.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
             <a href="https://github.com/FrancisNjuguna/nahis" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
               </div>


              <div class="contentImg">
                  <a href="https://nahis.vercel.app/" target="_blank"><img src="./projects/nahis.png" class="contentImage"></a>
              </div>

              <div class="wrapperText">
               
                  <h2>
                  
                     NAH<span class="frank">IS</span>
                     
                  </h2>
                 
                  <p>NAHIS is a delivery and shipping web app that provides users with an easy and efficient way to manage their deliveries. The app offers a secure payment system for customers to pay for their orders, a blog that explains the shipping process, a working contact form and is fully responsive.</p>
                  <div class="software">
                    <span>TECHNOLOGIES</span>        
                </div>
                  <div
        class="mh-about-tag wow fadeInUp"
        data-wow-duration="0.8s"
        data-wow-delay="0.3s"
      >
        <ul>
          <li><span>HTML</span></li>
          <li><span>CSS</span></li>
          <li><span>JAVASCRIPT</span></li>
          <li><span>BOOTSTRAP</span></li>
          <li><span>JQUERY</span></li>
          <li><span>PHP</span></li>
        </ul>
      </div>
              </div>


              </div>


          </div>
          <div class="box">

            <div class="webContent">

             <div class="webContentTop">
                 <div >
                   
                     <a href="https://stellaorre.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                 </div>
                 <a href="https://stellaorre.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
                 <a href="https://github.com/FrancisNjuguna/stellaorre" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
             </div>

            <div class="contentImg">
                <a href="https://stellaorre.vercel.app/" target="_blank"><img src="./projects/stella.png" class="contentImage"></a>
            </div>

            <div class="wrapperText">
                <h2>
                    STELLA<span class="frank">ORRE</span>
                </h2>
                <p>STELLAORRE is an interior design web app for an interior desin company. The app features a modern, user-friendly interface that makes it easy for customers to browse and view designs.Additionally, the app is beautiful and responsive to any device. <strong><b>TIP</b></strong>:  Make sure to view the images under each category.</p>
                <div class="software">
                  <span>TECHNOLOGIES</span>        
              </div>
                <div
      class="mh-about-tag wow fadeInUp"
      data-wow-duration="0.8s"
      data-wow-delay="0.3s"
    >
      <ul>
        <li><span>HTML</span></li>
        <li><span>CSS</span></li>
        <li><span>JAVASCRIPT</span></li>
        <li><span>PHP</span></li>
        <li><span>BOOTSTRAP</span></li>
        <li><span>JQUERY</span></li>
        <li><span>SASS</span></li>
      </ul>
    </div>
            </div>


            </div>


        </div>
          <div class="box">

            <div class="webContent">

             <div class="webContentTop">
                 <div >
                   
                     <a href="https://mdc-nike-project.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                 </div>
                 <a href="https://mdc-nike-project.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
                 <a href="https://github.com/FrancisNjuguna/mdc-nike-project" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
             </div>

            <div class="contentImg">
                <a href="https://mdc-nike-project.vercel.app/" target="_blank"><img src="./projects/nike.png" class="contentImage"></a>
            </div>

            <div class="wrapperText">
                <h2>
                   NIKE<span class="frank">STORE</span>
                </h2>
                <p>NIKE STORE Is a modern nike shoes market web app, with fully working add to cart functionality and blogs. The web app is beautiful because i have used the modern and latest libraries like vite. It is fully responsive to all screen sizes</p>
                <div class="software">
                  <span>TECHNOLOGIES</span>        
              </div>
                <div
      class="mh-about-tag wow fadeInUp"
      data-wow-duration="0.8s"
      data-wow-delay="0.3s"
    >
      <ul>
        <li><span>REACT</span></li>
        <li><span>TAILWINDCSS</span></li>
        <li><span>MATERIALUI</span></li>
        <li><span>VITE</span></li>
        <li><span>REDUX</span></li>
       
      </ul>
    </div>
            </div>


            </div>


        </div>
          <div class="box">

            <div class="webContent">

             <div class="webContentTop">
                 <div >
                   
                     <a href="https://chatgpt-eight-livid.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                 </div>
                 <a href="https://chatgpt-eight-livid.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
                 <a href="https://github.com/FrancisNjuguna/chatgpt" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
             </div>

            <div class="contentImg">
                <a href="https://chatgpt-eight-livid.vercel.app/" target="_blank"><img src="./projects/gpt.png" class="contentImage"></a>
            </div>

            <div class="wrapperText">
                <h2>
                    CHAT<span class="frank">GPT</span>
                </h2>
                <p>CHATGPT Is a clone of the famous chatgpt AI. It is easy to use and user friendly. I created so that it can increase my productivity and so it can for you too!!</p>
                <div class="software">
                  <span>TECHNOLOGIES</span>        
              </div>
                <div
      class="mh-about-tag wow fadeInUp"
      data-wow-duration="0.8s"
      data-wow-delay="0.3s"
    >
      <ul>
        <li><span>REACT</span></li>
        <li><span>ROUTERDOM</span></li>
        <li><span>OPENAPI</span></li>
        <li><span>CSS</span></li>
        <li><span>NODEJS</span></li>
        <li><span>VITE</span></li>
      </ul>
    </div>
            </div>


            </div>


        </div>
          <div class="box">

            <div class="webContent">

             <div class="webContentTop">
                 <div >
                   
                     <a href="https://mdc-music-app.vercel.app/" class="wrapperLink Indicator" target="_blank" ></a>
                 </div>
                 <a href="https://mdc-music-app.vercel.app/" class="live" target="_blank" ><span>LIVE</span></a>
                 <a href="https://github.com/FrancisNjuguna/mdc-music-app" class="wrapperLink" target="_blank" ><i class="uil uil-github-alt">Github</i></a>
             </div>

            <div class="contentImg">
                <a href="https://mdc-music-app.vercel.app/" target="_blank"><img src="./projects/music.png" class="contentImage"></a>
            </div>

            <div class="wrapperText">
                <h2>
                    MUSIC<span class="frank">APP</span>
                </h2>
                <p>Beautiful fully responsive MUSIC APP Spotify like. It consists of many functionality like visibility to play, pause, repeat and shuffle songs, as well as to add or decrease volume. It consists of lyrics and ability to filter according to genre.</p>
                <div class="software">
                  <span>TECHNOLOGIES</span>        
              </div>
                <div
      class="mh-about-tag wow fadeInUp"
      data-wow-duration="0.8s"
      data-wow-delay="0.3s"
    >
      <ul>
        <li><span>REACT</span></li>
        <li><span>REDUX</span></li>
        <li><span>TAILWIND</span></li>
        <li><span>SHAZAMAPI</span></li>
        <li><span>RAPIDAPI</span></li>
        <li><span>GEOAPI</span></li>
        
      </ul>
    </div>
            </div>


            </div>


        </div>


         
                   

                      

                  </div>
                  <br>
                  <br>
                  <div
            class="section-title col-sm-12 wow fadeInUp"
            data-wow-duration="0.8s"
            data-wow-delay="0.1s"
          >
          
            <h6>More projects + Coming soon!!</h6>
             <br>
          </div>
                  <div class="d-flex justify-content-center">
                    <a
                      href="more.html"
                      target="_blank"
                      class="btn btn-fill wow fadeInUp mt-3"
                      data-wow-duration="0.8s"
                      data-wow-delay="0.4s"
                      >MORE PROJECTS</a>
                      
      </div>
      </div>
      
  </section>

    <!--
    ===================
        PRICING
    ===================
    -->
    <section class="mh-pricing" id="mh-pricing">
      <div class="">
          <div class="container">
              <div class="row section-separator">
                  <div class="col-sm-12 section-title" data-wow-duration="0.8s" data-wow-delay="0.2s">
                      <h3>Pricing Table</h3>
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                          <i class="fa fa-calendar"></i>
                          <h4>Full-time work</h4>
                          <p>I am available for full time</p>
                          <h5>$PARTNERSHIP</h5>
                          <ul>
                              <li>Full Stack Development</li>
                              <li>Front End Development</li>
                              <li>Back End Development</li>
                              <li>Wordpress Development</li>
                              <li>Blockchain Development</li>
                              <li>Figma|UI/UX Designer</li>
                          </ul>
                          <a href="index.html#mh-contact" class="btn btn-fill">Hire Me</a>
                      </div>  
                  </div>                    
                  <div class="col-sm-12 col-md-4">
                      <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                          <i class="fa fa-file"></i>
                          <h4>Fixed Price Project</h4>
                          <p>I am available for fixed roles</p>
                          <h5>$PARTNERSHIP</h5>
                          <ul>
                             Full Stack Development</li>
                              <li>Front End Development</li>
                              <li>Back End Development</li>
                              <li>Wordpress Development</li>
                              <li>Blockchain Development</li>
                              <li>Figma|UI/UX Designer</li>
                          </ul>
                          <a href="index.html#mh-contact" class="btn btn-fill">Hire Me</a>
                      </div>  
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                          <i class="fa fa-hourglass"></i>
                          <h4>Hourley work</h4>
                          <p>I am available for Hourley projects</p>
                          <h5>$PARTNERSHIP</h5>
                          <ul>
                             Full Stack Development</li>
                              <li>Front End Development</li>
                              <li>Back End Development</li>
                              <li>Wordpress Development</li>
                              <li>Blockchain Development</li>
                              <li>Figma|UI/UX Designer</li>
                          </ul>
                          <a href="index.html#mh-contact" class="btn btn-fill">Hire Me</a>
                      </div>  
                  </div>
              </div>
          </div>
      </div>
  </section>

    <!--
     ===================
           BLOG
        ===================
        -->
        <section class="mh-blog" id="mh-blog">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3>Featured Posts</h3>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <img src="assets/images/cloud.png" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog1.html">Leveraging Cloud Services for Full Stack Development Projects</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="blog1.html">24.12.2022</a></li>
                                        <li><strong>By</strong><a href="blog1.html">FrancisNjuguna</a></li>
                                    </ul>
                                </div>
                                <p>Cloud services have become an integral part of full stack development projects. Cloud services provide developers with the ability to quickly and easily deploy applications, store data, and access resources from anywhere in the world. This makes it easier for developers to collaborate on projects and scale their applications as needed.....</p>
                                <a href="blog1.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <img src="assets/images/workflow.png" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog2.html">Tips and Tricks for Optimizing Your Full Stack Development Workflow</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="blog2.html">27.12.2022</a></li>
                                        <li><strong>By</strong><a href="blog2.html">FrancisNjuguna</a></li>
                                    </ul>
                                </div>
                                <p>As a full stack developer, you are responsible for both the front-end and back-end of a website or application. This means that you need to be able to work efficiently and effectively in order to get the job done. Optimizing your full stack development workflow can help you save time and energy, allowing you to focus on the important.....</p>
                                <a href="blog2.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <img src="assets/images/debug1.jpg" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog3.html">Best Practices for Debugging Full Stack Applications</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="blog3.html">4.1.2023</a></li>
                                        <li><strong>By</strong><a href="blog3.html">FrancisNjuguna</a></li>
                                    </ul>
                                </div>
                                <p>Debugging full stack applications can be a daunting task. It requires a deep understanding of the entire application stack, from the front-end to the back-end. To make debugging easier, it’s important to have a set of best practices in place....
                                </p>
                                <a href="blog3.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <img src="assets/images/benefits.jpg" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog4.html">Exploring the Benefits of Full Stack Development</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="blog4.html">28.1.2023</a></li>
                                        <li><strong>By</strong><a href="bblog4.html">FrancisNjuguna</a></li>
                                    </ul>
                                </div>
                                <p>The benefits of full stack development are numerous. By having a comprehensive understanding of both the front-end and back-end of an application, developers can create more efficient and effective solutions that are tailored to their clients’ needs. Additionally, full stack developers can quickly identify problems in the codebase and make necessary changes without having to rely on other....</p>
                                <a href="blog4.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <img src="assets/images/full.avif" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog5.html">Integrating Front-End and Back-End Technologies in Full Stack Development</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="blog5.html">3.2.2023</a></li>
                                        <li><strong>By</strong><a href="blog5.html">FrancisNjuguna</a></li>
                                    </ul>
                                </div>
                                <p>Full stack development is a term used to describe the process of developing both the front-end and back-end of a website or application. It involves integrating different technologies, such as HTML, CSS, JavaScript, and databases, to create a complete product.The front-end of a website or application is...</p>
                                <a href="blog5.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                            <img src="assets/images/project.jpg" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog6.html">Building a Full Stack Web Application from Scratch</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="blog6.html">7.2.2023</a></li>
                                        <li><strong>By</strong><a href="blog6.html">FrancisNjuguna</a></li>
                                    </ul>
                                </div>
                                <p>Creating a full stack web application from scratch can be an intimidating task. It requires knowledge of multiple programming languages, frameworks, and technologies. However, with the right guidance and resources, it is possible to build a full stack web application from scratch. In this blog post, we will discuss the steps involved in building a full stack web application from scratch...</p>
                                <a href="blog6.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
        
         <section class="mh-pricing" id="mh-contact">
      <div class="">
          <div class="container">
              <div class="row section-separator">
                  <div class="col-sm-12 section-title" data-wow-duration="0.8s" data-wow-delay="0.2s">
                      <h3>Contact Me</h3>
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                        <i class="fab fa-linkedin fa-3x"></i>
                          <h4>CONTACT ME ON</h4>
                         
                          <h5>LINKEDIN</h5>
                         
                          <a href="https://www.linkedin.com/in/dev-njuguna-120964263/" class="btn btn-fill">Contact Me</a>
                      </div>  
                  </div>                    
                  <div class="col-sm-12 col-md-4">
                      <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        <i class="fab fa-google fa-3x"></i>
                          <h4>CONTACT ME ON</h4>
                         
                          <h5>GMAIL</h5>
                         
                          <a
                  href="mailto:francisnjugunawanjiku@gmail.com?body=Hi Francis, I was browsing your website and wanted to connect.&subject=Partnership Proposal"
                  target="_blank"
                  class="btn btn-fill"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.4s"
                  >Contact Me</a>
                      </div>  
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                          <i class="fa fa-phone"></i>
                           <h4>CONTACT ME ON</h4>
                          <h5>PHONE</h5>
                          <a href="callto: +254 114 290 356" class="btn btn-fill">Contact Me</a>
                      </div>  
                  </div>
              </div>
          </div>
          
      </div>
  </section>
        
        <!--



    
    ===================
       FOOTER 1
    ===================
    -->
    <footer class="mh-footer" id="mh-footer">
      <div class="map-image image-bg">
            <div
              class="col-sm-12 mx-auto mh-copyright wow fadeInUp"
              data-wow-duration="0.8s"
              data-wow-delay="0.3s"
            >
            
              <div class="row">
                <div class="col-sm-12">
                  <div class="mh-copyright text-center">
                      <p> &copy;All Rights Reserved. With Love ❤️ FrancisNjuguna <span id="year"></span></p>
                  </div>
              </div>
              </div>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
   
  </div>

    <!--
    ==============
    * JS Files *
    ==============
    -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="main.js"></script>
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- jQuery -->
    <script src="assets/plugins/js/jquery.min.js"></script>
    <!-- popper -->
    <script src="assets/plugins/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/plugins/js/bootstrap.min.js"></script>
    <!-- owl carousel -->
    <script src="assets/plugins/js/owl.carousel.js"></script>
    <!-- validator -->
    <script src="assets/plugins/js/validator.min.js"></script>
    <!-- wow -->
    <script src="assets/plugins/js/wow.min.js"></script>
    <!-- mixin js-->
    <script src="assets/plugins/js/jquery.mixitup.min.js"></script>
    <!-- circle progress-->
    <script src="assets/plugins/js/circle-progress.js"></script>
    <!-- jquery nav -->
    <script src="assets/plugins/js/jquery.nav.js"></script>
    <!-- Fancybox js-->
    <script src="assets/plugins/js/jquery.fancybox.min.js"></script>
    <!-- isotope js-->
    <script src="assets/plugins/js/isotope.pkgd.js"></script>
    <script src="assets/plugins/js/packery-mode.pkgd.js"></script>
    <script src="assets/js/custom-scripts.js"></script>
  </body>
</html>
